@font-face {
    font-family: bebas;
    src: url(Raleway-SemiBold.ttf);
}

@font-face {
    font-family: monserrat;
    src: url(Montserrat-Medium.ttf);
}

body {
    font-family: monserrat;
}

.header {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.btn-font {
    font-family: bebas;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.slider-img {
    background-image: url("Brown-Hairs-Girl-Wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-bg {
    background: none;
}

.navbar-bg {
    background: none !important;
}

.navbar-brand img {
    width: 200px;
    height: auto;
}

.font {
    font-size: 20px;
}

.nav-link {
    color: white;
}

.white-bg {
    background: white;
}

.img img {
    width: 275px;
    height: auto;
}

.height {
    min-height: 500px;
}

.logo-icons ul {
    list-style: none;
}

.logo-icons ul li {
    display: inline-block;
    position: relative;
    padding: 18px;
}

.logo-icons ul li i {
    font-size: 25px;
}

.nav-link {
    font-size: 1.2em;
}

.image img {
    width: 250px;
    height: auto;
}

.profile {
    position: relative;
}

.profile img {
    width: 200px;
    border-radius: 50%;
    margin-top: -120px;
}

.btn-image {
    position: absolute;
    top: 150px;
    right: 130px;
    /* opacity: 0; */
    transition: all 0.2s ease-in-out 0s;
    transform: scale(0);
}

.card:hover .btn-image {
    /* opacity: 50%; */
    transform: scale(1);
}

.post-img:after {
    content: '';
    position: absolute;
    width: 347px; height:331px;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.card:hover .post-img:after {
    opacity: 1;
}

.post-img img {
    height: 331px;
}